h1 {
	text-transform: uppercase;
}

.navigation {
	text-transform: uppercase;
}

.navigation li {
	display: inline;
	padding-right: 10px;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

#storefront {
	height: 500px;
	overflow-x: scroll;
}

.entry {
	height: 200px;
}

.item {
	
}

.total {
	float: right;
}

.interactive {
	cursor: pointer;
}