h1 {
	text-transform: uppercase;
}

.navigation {
	text-transform: uppercase;
}

.navigation li {
	display: inline;
	padding-right: 10px;
}

.right {
	float: right;
}

img {
	float: left;
	padding-right: 25px;
}

.bold {
	font-weight: bold;
}

.item {
	min-width: 25%;
	height: 150px;
	float: left;
}