<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{title}}</title>

    <meta name="description" value="{{meta.description}}">
    <meta name="keywords" value="{{meta.keywords}}">
    <meta name="author" value="{{meta.author}}">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400">

    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
