{% extends '_layouts/default.html' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>
        Feel free to get in touch if you like the site or have any comments. Corrections or additions to the wiki and article list are also very welcome.
    </p>
    <form method="get" action="">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="comment">Comment</label>
            <textarea name="comment"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
