{% extends '_layouts/default.html' %}

{% block body %}
    <h1>{{title}}</h1>
    <img class="wiki-entry wiki-entry__logo" src="{{base_url}}/img/go-logo.png">
    <h2>Info</h2>
    <p>
        Go is a programming language developed by Google. It aims to be expressive and efficient.
    </p>
    <h2>Best Practices</h2>
    <p>
        Google's guide on <a href="https://golang.org/doc/effective_go.html" target="_blank">effective Go</a> is the best place to start when thinking about best practices for Go.
    </p>
{% endblock %}
