body {
  background: #fff;
  padding: 0px 8px 0px 8px; 
  margin: 20px;
  font-family: sans-serif;
  line-height: 2.2ex;
}

a { text-decoration: none; color: #0033cc; outline: none; }
a.fixed { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; color: #ff0066; }

div.printlinks { line-height: 3ex; }

h2 { text-align: center; }
h3 { 
  margin-bottom: 8px; 
  color: red; 
}
h4 { 
  color: magenta; 
  margin: 12px 0 7px 0;
}

a:link {
 text-decoration:none;
 color: green;
 color: #009933;
}

a:visited {
  color: blue;
 text-decoration:none;
}

a:hover { 
 color: red;
 text-decoration:underline;
 color: #cc66cc;
}

td.x { width: 400px; }

.smtb { margin-top: 6px; margin-bottom: 6px; }

div.contents table {
  font-family: sans-serif;
  font-size: 90%;
}

div.contents {
  border: solid thin black;
  padding-top: 15px;
  padding-right: 10px;
  font-family: sans-serif;
  font-size: 90%;
}

div.contents li { margin-top: 5px; margin-bottom: 5px }

ul.notes li { margin-top: 5px; margin-bottom: 5px }
ol.notes li { margin-top: 5px; margin-bottom: 5px }

ul.notesinner li { margin-top: 2px; margin-bottom: 2px }
ol.notesinner li { margin-top: 2px; margin-bottom: 2px }

ol.notes li p { margin-top: 4px; margin-bottom: 4px }
ul.notes li p { margin-top: 4px; margin-bottom: 4px }

ul.smallmargin { margin-top: 4px; margin-bottom: 4px; }
ol.smallmargin { margin-top: 4px; margin-bottom: 4px; }

ol.outer li { margin-bottom: 16px; }

.ssf { font-family: sans-serif; }

.lh3 { line-height: 3ex; }

div.break { page-break-after: always; }

.hidden { 
  background-color: #cfe;
  border: dotted 1px blue;
  padding-left: 1px;
}

tt.file { color: brown; }

.notop { margin-top: 0px; }

table.filelist td {
 padding: 1px 0px 0px 20px;
}

table.filelist td.info {
 padding: 5px 0px 0px 0px;
}

div.n, div.m, pre { 
   padding-left: 10pt; 
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 6px; 
   margin-top: 6px;
}

div.m, pre { 
  border: dotted 1px gray;
  background-color: #f7f7f7; 
  padding-right:20px; 
}

pre.nb { 
  border-width: 0;
}

div.nobg pre,
pre.n { 
  border-width: 0;
  background-color: white; 
}

pre.bad {
  background-color: #fed;
}

div#tooltip {
  position:absolute;
  display:none;
  border: solid 1px brown;
  background-color: palegoldenrod;
  padding: 3px;
  font-size: 9pt;
}
div.notes, span.notes {
  line-height: 20px;
  font-size: 85%;
  font-weight: bold;
}

a.fixed { color: black; text-decoration: none; }
a.fixed:hover { color:black; text-decoration: none; }
a.fixed:visited { color:black; text-decoration: none; }

.nob {
   background-color: khaki;
   border: dotted 1px purple;
   padding-right: 10px;
}
a.showhide {
  font-weight:bold;
  color: #93f;
}
a.showhide:hover {
  color: #f06;
}

li h5 { margin: 0 }

li.hr {
  background-image: url("/~rkline/images/hr.png");
  background-repeat: repeat-x;
  background-position: center;
}

fieldset.solution {
  padding-top: 10px;
}
fieldset.solution legend h3,
fieldset.solution legend h4 { margin: 0; }

fieldset.solution-bg { background: #f0f0f9; }

div.cell {
  display: table-cell;
  vertical-align: top;
}

.ninept {
  font-size: 9pt;
}