body {
  margin:0;
  padding: 10px 30px;
}
#content {
  font-size: 10pt;
  margin-top: 15px;
  line-height: 16px;
}
#header {
    position: relative;
    height: 70px;
    margin-top: 10px;
    line-height: 20px;
}
#cleardb {
    position:absolute;
    top:5px;
    right:20px;
}
#cleardb a {
    text-decoration:none;
}
#cleardb a:hover button {
    color: red;
}
.format_display {
    width: 100%;
    margin: 5px 0;
}

table.format_display {
   border-collapse: collapse;
   margin-bottom: 0;
}
table.format_display th {
    color: #c00;
    text-align:left;
    white-space: nowrap;
}
table.format_display td {
    width: 70%;
    padding-right: 15px;
}
div.format_display {
    position: relative;
}
#font-selector {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10pt;
}
#font-selector select {
    font-size: 9pt;
}
#sections { 
    position: absolute;
    bottom: 0px;
/* right: 0px; */
    left: 0px;
}
#sections select { 
    font-size: 9pt;
}
#toggle_all {
    position: absolute;
    top: 10px;
    right: 0px;    
    font-size: 9pt;
    line-height: 2.2ex;
    text-align: right;
}
#toggle_all a:hover {
    text-decoration:none;
}
#mtime {
    text-align:center;
    font-size: 9pt;
}
div.setKey form {
  margin-top: 5px;
  margin-bottom: 5px;
}
/*
div.personalize {
  margin-bottom: 15px;
}
*/
div.personalize h4 {
  margin-bottom: 0;
}
div.show_hide form {
  margin: 0;
}
span.show_hide_label { font-family: monospace; }
#logout {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.print_only {
  display: none;
}
div.composite {
  position: relative;
  background-color: #f7f7f7;
  border: dotted 1px gray;
  margin-top: 6px;
  margin-bottom: 6px;
}
div.composite pre {
  padding-top:0;
  padding-bottom:0;
  margin:0;
  border-width:0;
}