.wrapper {
    background: #fff;
    font-family: 'Helvetica', sans-serif;
    color: #333;
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    font-size: 48px;
    font-weight: 300;
}

.subhead {
    color: #4183c4;   
}

.last-name {
    color: #bbb;
}

.list {
    list-style: none;
}

.section {

}

.experience {
    margin-left: 40px;
}

.course {
    padding-right: 20px;
    color: #bbb;
}