* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}


html,
body {
    height: 100%;
}

.container {
    height: 100%;
}

.header {
    min-height: 4em;
    padding: .5em;

    background-color: #0d9fff;
}

.logo {
    display: inline-block;
    float: left;

    margin: 0 20px;

    color: #fff;

    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none;
}

.menu {
    &__container {
        display: inline-block;
        float: right;

        margin: .5em 0;
    }



    &__item {
        $underline-color: #fff;

        display: inline-block;

        margin: 0 1em;
        padding: .25em;

        color: #fff;

        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;

        border-bottom: 1px solid transparent;

        &:hover {
            border-color: $underline-color;
            transition: border-color .5s ease;
        }

        &--active {
            border-bottom: 1px solid $underline-color;
        }
    }
}

.content {

}

.home-hero {
    &__container {
        background-image: url('https://images.unsplash.com/photo-1451906278231-17b8ff0a8880?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1fbb817fbfe2b13a0c81de025e89a890');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        font-family: 'Lato', sans-serif;
        font-size: 64px;
        font-weight: 300;

        text-align: center;
    }
}

.footer {
    background: #00e8b8;

    font-family: 'Lato', sans-serif;
    font-weight: 400;

    &__column {
        margin: 20px 0;
        padding: 0 20px;

        color: #fff;
    }

    &--1 {

    }

    &--2 {

    }

    &--3 {

    }
}
