html,
body {
    height: 100%;

    margin: 0;

    ::selection {

    }
}

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.header {
    display: flex;
    flex: 100;

    min-height: 4em;

    background-color: #0d9fff;
}

.logo {
    display: flex;
    flex: 1;

    margin: 10px 20px;

    color: #fff;

    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 5px 20px;

    &__item {
        $underline-color: #fff;

        display: flex;

        margin: 10px 20px;
        padding: 5px;

        color: #fff;

        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;

        border-bottom: 1px solid transparent;

        &:hover {
            border-color: $underline-color;
            transition: border-color .5s ease;
        }

        &--active {
            border-bottom: 1px solid $underline-color;
        }
    }
}

.content {
    flex: 100;
    flex-shrink: 0;

    min-height: 100vh;
}

.home-hero {
    &__title {
        font-family: 'Lato', sans-serif;
        font-size: 64px;
        font-weight: 300;

        text-align: center;
    }
}

.footer {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    align-items: center;

    min-height: 50vh;

    background: #222;

    font-family: 'Lato', sans-serif;
    font-weight: 400;

    &__column {
        flex: 33;

        margin: 20px 0;
        padding: 0 20px;

        color: #fff;

        @media (max-width: 960px) {
            flex: 100 1 960px;
        }
    }

    &--1 {

    }

    &--2 {

    }

    &--3 {

    }
}
