{% extends '_layouts/default.html' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>
        The wiki is the master repository of information for everything you need to bring your software development skills to the next level.
    </p>
    <div>
        <div>
            <a href="{{base_url}}/wiki/javascript/">
                JavaScript
            </a>
        </div>
        <div>
            <a href="{{base_url}}/wiki/go/">
                Go
            </a>
        </div>
        <div>
            <a href="{{base_url}}/wiki/python/">
                Python
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="{{base_url}}/wiki/c/">
                C
            </a>
        </div>
        <div>
            <a href="{{base_url}}/wiki/java/">
                Java
            </a>
        </div>
        <div>
            <a href="{{base_url}}/wiki/c-sharp/">
                C#
            </a>
        </div>
    </div>
{% endblock %}
