{% extends '_layouts/default.html' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>
        The wiki is the master repository of information for everything you need to bring your software development skills to the next level.
    </p>
    <div>
        <div>
            <a href="#">
                JavaScript
            </a>
        </div>
        <div>
            <a href="#">
                Go
            </a>
        </div>
        <div>
            <a href="#">
                Python
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="#">
                C
            </a>
        </div>
        <div>
            <a href="#">
                Java
            </a>
        </div>
        <div>
            <a href="#">
                C#
            </a>
        </div>
    </div>
{% endblock %}
