h1 {
    text-transform: uppercase;
}

span {
    font-size: 20px;
}

.fa-times:hover {
    cursor: pointer;
    color: #a94442;
}

.interactive {
    cursor: pointer;
}

.navigation {
    text-transform: uppercase;
}

.navigation li {
    display: inline;
    padding-right: 10px;
}

.right {
    float: right;
}

#storefront {
    height: 500px;
    overflow-y: scroll;
}

.total {
    float: right;
}
