<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <title>{{title}} &middot; {{site_name}}</title>

    <meta name="description" value="{{meta.description}}">
    <meta name="keywords" value="{{meta.keywords}}">
    <meta name="author" value="{{meta.author}}">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400">

    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="menu">
                <a class="menu__item menu__item--active" href="{{base_url}}/">Home</a>
                <a class="menu__item" href="{{base_url}}#">Wiki</a>
                <a class="menu__item" href="{{base_url}}#">Articles</a>
                <a class="menu__item" href="{{base_url}}/about/">About</a>
                <a class="menu__item" href="{{base_url}}#">Contact</a>
            </nav>
        </header>
        <section class="content">
            {% block body %}{% endblock %}
        </section>
        <footer class="footer">
            <section class="footer__column footer__column--1">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet dui magna. Nunc non nisi nibh. Curabitur vel eros nec risus scelerisque suscipit. Maecenas commodo mi orci, vel fermentum magna varius ac. Etiam non eros ac arcu fringilla porta a vel ligula. Nulla a massa porttitor, hendrerit magna nec, egestas libero. Curabitur ut semper velit. Integer ac ipsum ipsum. Suspendisse non diam egestas sapien imperdiet tincidunt. Pellentesque semper diam metus, eget pharetra leo tincidunt in. In quam purus, aliquam in velit ut, tincidunt scelerisque arcu. Etiam sed libero vehicula, vehicula nisi dapibus, consequat elit. Pellentesque leo massa, ullamcorper a orci eu, eleifend vestibulum nibh. Morbi vel tincidunt mauris, vel cursus nunc.
                </p>
            </section>
            <section class="footer__column footer__column--2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet dui magna. Nunc non nisi nibh. Curabitur vel eros nec risus scelerisque suscipit. Maecenas commodo mi orci, vel fermentum magna varius ac. Etiam non eros ac arcu fringilla porta a vel ligula. Nulla a massa porttitor, hendrerit magna nec, egestas libero. Curabitur ut semper velit. Integer ac ipsum ipsum. Suspendisse non diam egestas sapien imperdiet tincidunt. Pellentesque semper diam metus, eget pharetra leo tincidunt in. In quam purus, aliquam in velit ut, tincidunt scelerisque arcu. Etiam sed libero vehicula, vehicula nisi dapibus, consequat elit. Pellentesque leo massa, ullamcorper a orci eu, eleifend vestibulum nibh. Morbi vel tincidunt mauris, vel cursus nunc.
                </p>
            </section>
            <section class="footer__column footer__column--3">

            </section>
        </footer>
    </div>
</body>
</html>
