{% extends '_layouts/default.html' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>
        There are lots of great articles and blog posts written by regular software developers. Everyone has their own insight to offer, and it is helpful to read lots of these in order to get a better understanding of the software development landscape as a whole. A selected number of articles have been compiled below which you may find helpful in your journey to grow your developer skills.
    </p>
    <h2>Categories</h2>
    <ul>
        <li>
            <a href="#self-improvement">Self Improvement</a>
        </li>
    </ul>
    <h3 id="self-improvement">Self Improvement</h3>
    <ul>
        <li>
            <a href="http://peternixey.com/post/83510597580/how-to-be-a-great-software-developer">
                How to be a great software developer
            </a>
        </li>
        <li>
            <a href="http://techblog.centro.net/joshua-davison/how-to-be-the-fastest-developer-on-your-team-part-1/">
                How to be the Fastest Developer on Your Team, Part 1
            </a>
        </li>
        <li>
            <a href="http://techblog.centro.net/joshua-davison/how-to-be-the-fastest-developer-on-your-team-part-2/">
                How to be the Fastest Developer on Your Team, Part 2
            </a>
        </li>
        <li>
            <a href="http://matt.might.net/articles/programmers-resolutions/">
                12 resolutions for programmers
            </a>
        </li>
    </ul>
{% endblock %}
